.container {
    color: #3A4374;
    min-width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F7F8FD;
}

.container_body {
    width: 90%;
    max-width: 768px;
    height: auto;
    margin: auto;
    /* margin-top: 80px;
    margin-bottom: 20px; */
    background-color: white;
    border-radius: 10px;
    color:rgba(58, 67, 116);
    padding: 30px;
}

.homeBtn {
    cursor: pointer;
}

.profileBtn {
    cursor: pointer;
}

