*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #F7F8FD;
}

a {
  color: inherit;
  text-decoration: none;
  /* width: 30%; */
  white-space: nowrap;
  background-image: linear-gradient(#AD1FEA);
  padding-bottom: 10px;
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease
}

a:hover {
  background-size: 100% 3px
}