.container {
    min-width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F7F8FD;
}

.container_body {
    width: 90%;
    max-width: 768px;
    height: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    color:rgba(58, 67, 116)
}

.title {
    font-size: 30px;
}

.title2 {
    font-size: 20px;
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
}

.logoutBtn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #D73737;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.choose input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #AD1FEA;
    color: white;
    font-weight: bold;
}

.setPfp {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(58, 67, 116);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.deleteBtn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #D73737;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* ============================================================= */
/* Post Section */

.FeedbackSection {
    width: 90%;
    margin: auto;
    margin-top: -40px;
}

.FeedbackContainer {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.planned {
    border-top: 8px solid #F49F85;
}

.inprogress {
    border-top: 8px solid #AD1FEA;
}

.live {
    
    border-top: 8px solid #62BCFA;
}

.containerTag {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.containerTag p {
    color: #647196;
}

.dot {
    margin-right: 10px;
}

.feedbackTitle {
    font-size: 15px;
    margin-bottom: 20px;
    color: #3A4374;
}

.interactions {
    margin-top: 20px;
}

.interactionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

/* NOTE --> Fit-Content is OP !!!! */
.classification {
    width: fit-content;
    padding: 8px 20px;
    background-color: #F7F8FD;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    color: #4661E6;
}

.commentContainer, .likeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likeContainer {
    width: auto;
    align-items: center;
    padding: 8px 20px;
    background-color: #F7F8FD;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    color: #3A4374
}

.commentContainer {
    font-weight: bold;
    cursor: pointer;
    color: #3A4374
}

.likeContainer svg {
    margin-right: 10px;
}

.commentContainer p {
    margin-left: 10px;
}