.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F7F8FD;
}
.container_body {
    width: 80%;
    height: 90%;
    margin: auto;
    /* text-align: center; */
    background-color: white;
    border-radius: 10px;
    /* padding: 40px; */
    /* padding-top: 0; */
}

.error {
    color: red;
    font-size: 10px;
}