.container {
    min-width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F7F8FD;
}

.container_body {
    width: 90%;
    max-width: 768px;
    height: auto;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    color:rgba(58, 67, 116);
}

.container_section {
    padding: 30px;
}

.label {
    font-weight: bold;
    color: #3A4374;
}

.input {
    padding: 10px 10px;
    background-color: #F7F8FD;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #3A4374;
    border: none;
}
.input:focus {
    outline-color: #AD1FEA;
}

.input::placeholder {
    color: #3a437470;
}

.button {
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #AD1FEA;
    border-radius: 10px;
    font-weight: bold;
    color: white
}

.button:focus {
    outline-color: royalblue;
}

.button:hover {
    background-color: rgb(173, 31, 234, 0.8)
}

.cancelBtn {
    border: none;
    cursor: pointer;
    width: 100%;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #3A4374;
    border-radius: 10px;
}

.cancelBtn:focus {
    outline-color: royalblue;
}

.cancelBtn:hover {
    background-color:rgba(58, 67, 116, 0.8)
}

.links_container {
    padding: 30px;
    margin-top: -20px;
    text-align: center;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #3A4374;
}

.list {
    list-style-type: circle;
}

.error {
    color: red;
    font-size: 10px;
    line-height:1.5em;
    margin-bottom: 30px;
    padding-left: 20px
}

.error_input {
    border: 2px solid red;
}

.redirect {
    text-decoration: none;
    color: white
}